docs/bcs-schema/TimerecordingWebService_xsd3.xsd.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><xs:schema xmlns:tns="http://www.projektron.de/ws/timerecording" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.projektron.de/ws/timerecording">

  <xs:include schemaLocation="https://mindsquare.bcs-hosting.de:443/webservices/TimerecordingWebService?xsd=11"/>

  <xs:element name="CountTimesheetEntries" type="tns:TimesheetRequest"/>

  <xs:element name="CountTimesheetEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="number">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:nonNegativeInteger">
                <xs:attribute name="of" type="tns:typesOfTimesheetEntries" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>