docs/bcs-schema/TimerecordingWebService_xsd5.xsd.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><xs:schema xmlns:tns="http://www.projektron.de/ws/timerecording" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.projektron.de/ws/timerecording">

  <xs:include schemaLocation="https://mindsquare.bcs-hosting.de:443/webservices/TimerecordingWebService?xsd=2"/>

  <xs:element name="DeleteTimeRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemName" type="xs:string"/>
        <xs:choice>
          <xs:element ref="tns:id"/>
          <xs:element ref="tns:bcsOid"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteTimeRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tns:notes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UnableToDeleteTimeRecord" type="tns:TimeRecordingWebServiceException"/>
</xs:schema>